<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
<h1>All Books</h1> 

<% books.forEach((book) => { %>
    <div>
<h2>
    <a href="/books/<%= book._id %>">
    <%= book.title %>
    </a>
  </h2>

   <img
    src="<%= book.coverImage %>"
    width="100"
  >

<p>Author: <%= book.author %></p>

<p>Publisher: <%= book.publisher.username %></p>


</div>
  <% }) %>
</body>
</html>