<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/nav.ejs') %>
</head>
<body>
    <h1> <%= foundBook.title %></h1>
    <p>Author: <%= foundBook.author %></p>
    <p>Description: <%= foundBook.description %></p>
    <p>Publisher: <%= foundBook.publisher.username %></p>
    <img src="<%= foundBook.coverImage %>" alt="image" width="250">

<% if (foundBook.publisher._id.equals(user._id)) { %>

    <a href="/books/<%= foundBook._id %>/edit">
  Edit Book
</a>
    <form action="/books/<%= foundBook._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete Book</button>
</form>

<% } %>

<h2>Write a Review</h2>

<form action="/books/<%= foundBook._id %>/reviews" method="POST">
  Review:
  <textarea
    name="text"
    rows="5"
    required
  ></textarea>

  <br><br>

  <button type="submit">Submit Review</button>
</form>

<h2>Reviews</h2>
    <% foundReviews.forEach((review) => { %>
  <p>
    <strong><%= review.reviewer.username %>:</strong>
    <%= review.text %>
  </p>

<% if (review.reviewer._id.equals(user._id)) { %>  
<form
    action="/books/<%= foundBook._id %>/reviews/<%= review._id %>?_method=DELETE"
    method="POST"
  >
    <button type="submit">Delete Review</button>
  </form>
    <% } %>

<% }) %>


    <a href="/books">Back to all books</a>
</body>
</html>