<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    
    <main>

    <div class="book-details">
        <img src="<%= foundBook.coverImage %>" alt="image" width="250">

    <div class="book-info">

    <h1> <%= foundBook.title %></h1>
    <p>Author: <%= foundBook.author %></p>
    <p>Description: <%= foundBook.description %></p>
    <p>Publisher: <%= foundBook.publisher.username %></p>
    

<% if (foundBook.publisher._id.equals(user._id)) { %>
<div class="book-actions">

    <a href="/books/<%= foundBook._id %>/edit" class="button">
  Edit Book
</a>
    <form action="/books/<%= foundBook._id %>?_method=DELETE" method="POST">
  <button type="submit" class="danger-button">Delete Book</button>
</form>

</div>

<% } %>

 </div>

</div>

<section class="reviews-section">

<h2>Write a Review</h2>

<form action="/books/<%= foundBook._id %>/reviews" method="POST">
  Review:
  <textarea
    name="text"
    rows="5"
    required
  ></textarea>

  <br><br>

  <button type="submit">Submit Review</button>
</form>

<h2>Reviews</h2>
<div class="reviews-list">

    <% foundReviews.forEach((review) => { %>
    <article class="review-card">
 
    <p>
    <strong><%= review.reviewer.username %>:</strong>
    <%= review.text %>
  </p>

<% if (review.reviewer._id.equals(user._id)) { %>  
<form
    class="review-delete-form"
    action="/books/<%= foundBook._id %>/reviews/<%= review._id %>?_method=DELETE"
    method="POST"
  >
    <button type="submit" class="danger-button">Delete Review</button>
  </form>
    <% } %>

</article>

<% }) %>
</div>

    <a href="/books">Back to all books</a>
 
</section>

  </main>


</body>
</html>